body{
display: flex;
flex-direction: column;
overflow-y: auto;
}
main{
  display: flex;
  flex-direction: row;
  flex: auto;
 flex: 2;
 flex: 1;
 overflow-y: auto;
}
p{
  color: red;
}
table,td,th{
  border: 1px solid black;
  border-collapse: collapse ;
  padding: 2px;
      }
      th{
        text-align: left;
      }